@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --kt-green: #6debab;
    --kt-orange: #ff7300;
    --kt-gray-100: #a4a4a4;
    --kt-gray-200: #6d6d6d;
    --kt-gray-500: #484848;
    --kt-gray-900: #1e1e1e;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --kt-green: #6debab;
    --kt-orange: #ff7300;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

::selection {
  background-color: var(--kt-green);
  color: black;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .logo-text {
    @apply font-mono text-4xl text-kt;
  }
  .hero-text {
    @apply font-mono text-2xl md:w-2/3;
  }
  .icon-switch {
    @apply text-kt  transition-all ease-in-out;
  }
}

/* Matrix Styles */

@keyframes animate-matrix {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-matrix {
  animation: animate-matrix 10s linear infinite;
  opacity: 0.8;
}

.glitch-container {
  width: 80%; /* Adjust width as needed */
  margin: 20px auto; /* Center the container */
  position: relative;
  overflow: hidden;
}

.glitch {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: transparent;
  color: var(--kt-green); /* Example text color */
  /* Terminal-like font */
  animation: glitch-animation 7s infinite;
  transition: opacity 1s ease-in-out; /* Smooth opacity transition */
}

.glitching .glitch {
  opacity: 0.6; /* Reduced opacity when glitching */
}

.glitch-content {
  position: relative;
  z-index: 1; /* Ensure content is above glitch effect */
}

@keyframes glitch-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  20% {
    transform: translate(1px, 1px);
  }
  30% {
    transform: translate(-1px, -1px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  70% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  90% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
